services:
  postgres:
    image: postgres:16
    ports:
      - "5435:5435"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGPORT: ${DB_PORT}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

  migrate:
    image: kukymbr/goose-docker:latest
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: postgres://postgres:postgres@postgres:5435/postgres?sslmode=disable
      GOOSE_MIGRATION_DIR: /migrations
    command: ["up"]


  app:
    build: .
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "8080:8080"


volumes:
  pgdata: